* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.center {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

header {
  width: 100%;
  padding: 0 2%;
  height: 60px;
  background-color: #212343;
}

.center > img {
  margin: 20px 8px;
  cursor: pointer;
}

.container-banner {
  padding: 0 2%;
  width: 100%;
  height: 557px;
  background-image: url(../assets/header_bg.png);
  background-size: cover;
  background-position: center;
}

.container-banner > .center {
  height: 100%;
}

.form {
  padding: 10px;
  width: 400px;
  height: calc(100% + 30px);
  background-color: white;
  float: right;
  position: relative;
  top: -15px;
  border-radius: 10px;
  border: 8px solid rgba(204, 204, 204, 0.63);
  background-clip: padding-box;
}

.form h2 {
  font-weight: normal;
  font-size: 21px;
  color: #999999;
}

.input-container {
  margin-top: 20px;
}

.input-container span,
.form p {
  display: inline-block;
  width: 100%;
  font-size: 17px;
  color: #bbbbbb;
}

.form p {
  margin: 20px 0;
}

.input-container .input-text {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #cccc;
  background-color: white;
}

.input-container .input-text:focus {
  outline: 1px solid black;
}

form .input-submit-container {
  text-align: center;
}

form input[type="submit"] {
  border-radius: 10px;
  border: 1px solid transparent;
  color: white;
  font-size: 25px;
  width: 280px;
  height: 56px;
  display: inline-block;
  background-color: #363a6d;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #242752;
}

.container-list {
  padding: 15px;
  margin-top: 100px;
  float: left;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgba(33, 35, 67, 0.7);
}
.container-list ul {
  list-style-position: inside;
}

.container-list ul li {
  margin: 18px;
  color: #ffffff;
}

.container-2 {
  padding: 40px 2%;
  background-color: #ddd;
  text-align: center;
}

.container-2 h2 {
  font-weight: normal;
}

.container-2 p {
  width: 100%;
  max-width: 768px;
  margin: 15px 0;
  display: inline-block;
  text-align: justify;
}

.arrow {
  position: relative;
  top: 60px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  background-image: url(../assets/arrow.png);
  background-size: 100% 100%;
}

.section-1 {
  background-color: white;
  padding: 90px 2%;
}

.section-1 h2 {
  text-align: center;
  font-weight: normal;
  color: #462663;
}

.container-section {
  margin-top: 40px;
  text-align: center;
}

.container-single {
  float: left;
  width: 33.333%;
  padding: 30px;
}

.container-single p {
  padding: 10px 25px;
}

.container-single img {
  width: 70px;
}

footer {
  background-color: white;
  clear: both;
  border-top: 2px solid #888888;
  padding: 20px 0;
  text-align: center;
  color: #888888;
}

footer p {
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
    text-align: center;
  }

  .header-img {
    margin: 0;
    height: auto;
  }

  .container-list {
    padding: 30px;
    float: left;
    width: 40%;
    max-width: 500px;
    height: auto;
    background-color: rgba(33, 35, 67, 0.7);
  }

  .container-banner {
    width: 100%;
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .form {
    max-width: 400px;
    padding: 10px;
    width: 60%;
    height: 100%;
    float: right;
    top: 0;
  }

  .input-container {
    margin-top: 20px;
  }

  .input-container span,
  .form p {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #bbbbbb;
  }

  .form p {
    margin: 20px 0;
  }

  .input-container .input-text {
    width: 100%;
    height: 55px;
  }

  .input-container .input-text:focus {
    outline: 1px solid black;
  }

  form input[type="submit"] {
    max-width: 280px;
    height: 56px;
    width: 100%;
  }

  form input[type="submit"]:hover {
    background-color: #242752;
  }
}

@media screen and (max-width: 768px) {
  .container-list {
    margin-top: 0;
    float: none;
    display: inline-block;
    width: 100%;
  }

  .form {
    margin-top: 24px;
    float: none;
    display: inline-block;
    width: 90%;
  }

  .container-single {
  float: none;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 30px 0;
  }

}

